<h1>餐廳後台</h1>
<div class="mb-1">
  <a href="/admin/restaurants"><button type="button" class="btn btn-link">Restaurants</button></a>
  <span>|</span>
  <a href="/admin/users"><button type="button" class="btn btn-link">Users</button></a>
  <span>|</span>
  <a href='/admin/categories'><button type="button" class="btn btn-link">Categories</button></a>
</div>

<a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <div class="row">
      {{#each restaurants}}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="286px" height="180px">
          <div class="card-body">
            <p class="card-text">
              <a href="/restaurants/{{this.id}}">
                {{this.name}}
              </a>
            </p>
            <span class="badge badge-secondary">{{this.categoryName}}</span>
            <p class="card-text">{{this.description}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <br />
    <br />