<div class="row">
  <div class="col-md-4">
    {{#if user.image}}
    <div style="width: 250px;height: 250px;margin-bottom: 25px;border-radius: 50%;overflow: hidden;">
      <img class="img-responsive center-block" src="{{user.image}}"style="width:auto; height: 100%; margin-left: -50px;">
    </div>
    {{else}}
    <img class="img-responsive center-block" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" style="width: 250px;margin-bottom: 25px;">
    {{/if}}
  </div>
  <div class="col-md-8">
    <h4>{{user.name}}</h4>
    <p>{{user.email}}</p>
    {{#ifCond user.id loginUser.id}}
    <a href='/users/{{user.id}}/edit'>
      <button type="button" class="btn btn-primary">Edit</button>
    </a>
    {{/ifCond}}
  </div>
</div>