<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">Top 10 人氣餐廳</a>
  </li>
</ul>
<br /><br />
<h1>Top 10 人氣餐廳</h1>
<hr />
<div class="d-flex justify-content-center">
  <div class="col-md-6">
    {{#each restaurants}}
    <div class="d-flex justify-content-center bg-white mt-3 border border-secondary">
      <div>
        <img class="img-responsive center-block" src="{{this.image}}" style="width: 200px;margin-bottom: 25px;">
      </div>
      <div class="card-body">
        <h5 class="card-title mb-3">{{this.name}}</h5>
        <span class="badge badge-secondary">追蹤人數 : {{this.favoritedCount}}</span>
        <p class="card-text">{{this.description}}</p>
        <div class="d-flex">
          <a href="/restaurants/{{this.id}}">
            <button type="button" class="btn btn-primary mr-2">Show</button>
          </a>
          {{#if this.isFavorited}}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
              class="btn btn-danger mr-2">移除最愛</button></form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST"><button type="submit"
              class="btn btn-primary mr-2">加入最愛</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>